[Unit]
Description=DashSight
DefaultDependencies=no
After=systemd-user-sessions.service systemd-logind.service

[Service]
Type=simple
Restart=on-failure
RestartSec=2
EnvironmentFile=-/etc/default/dashsight.conf
WorkingDirectory=@LIBEXECDIR@/dashsight/
ExecStart=@BINDIR@/dashsight

[Install]
WantedBy=multi-user.target

